doctype html 
html(lang="ko")
	head
		title #{title} | brydgeable
		link(rel="stylesheet" href="https://unpkg.com/mvp.css")
		link(rel="stylesheet" href="/static/css/styles.css")
	body
		header 
			nav 
				ul 
					li
						a(href="/") home
					if loggedIn
						li 
							a(href="/item/upload") Upload Video
						li 
							a(href=`/users/${user._id}`) My Profile
						li 
							a(href="/users/edit") Edit Profile
						li 
							a(href="/logout") log out
					else 
						li 
							a(href="/join") join
						li 
							a(href="/login") login
					li 
						a(href='/search') search
			h1 brydgeable
		main
			block content
	include partials/footer.pug
	script(src="/static/js/main.js")