doctype html 
html(lang="ko")
	head
		title #{title} | brydgeable
		link(rel="stylesheet" href="https://unpkg.com/mvp.css")
	body
		header 
			nav 
				ul 
					li
						a(href="/") home
					if loggedIn
						li 
							a(href="/logout") log out
					else 
						li 
							a(href="/join") join
						li 
							a(href="/login") login
					li 
						a(href="/item/upload") upload
					li 
						a(href='/search') search
			h1 brydgeable
		main
			block content
	include partials/footer.pug