extends base
include mixins/items

block content 
	video(src="/" + item.fileUrl, controls)
	div 
		p=item.description
		small=item.createdAt
	a(href=`${item.id}/edit`) Edit Video &rarr;
	br
	a(href=`${item.id}/delete`) Delete Video &rarr;