extends base

block content 
	small=errorMessage
	form(method="POST")
		input(name="name" type="text" placeholder="name")
		input(name="email" type="email" placeholder="email")
		input(name="username" type="text" placeholder="username")
		input(name="password" type="password" placeholder="password")
		input(name="password2" type="password" placeholder="password2")
		input(type="submit" value="Join")
		include partials/social-login
	div.auth-switch
		span Already have an account?
		a(href="/login") Go to login now &rarr;